//breakpoint
$breakpoint: (
  i5: 414,
  // sp: 500,
  sp: 600,
  tab: 768,
  mv: 890,
  widetab: 1000,
  smallpc: 1200,
  widepc: 1300,
  pc: 1440,
);

//color
$dark: #000;
$humbarger: #555;
$white: #ffffff;
$off-white: rgba(255, 255, 255, 0.95);
$smoke: #f7f7f8;
$darkblue: #2f2d51;
$data1: #dea832;
$data2: #c8d947;
$data3: #add9c3;
$data4: #43bacc;
$data5: #0086bf;
$data6: #4051b3;
$data7: #111766;

//shadow
$shadow: 0 0 9px rgba(0, 0, 0, 0.01);
$shadow-dark: 0 0 9px rgba(0, 0, 0, 0.2);