//breakpoint
$breakpoint: (
  i5: 414,
  sp: 500,
  tab: 768,
  // mv: 890,
  // widetab: 1000,
  // widepc: 1300,
  smallpc: 1200,
  // pc: 1440,
);

//color
$dark: #000;
$white: #ffffff;
$smoke: #F7F7F8;
$darkblue: #2F2D51;
$blue: #00bbdd;
$date1: #3B93BA;
$date2: #3BBA93;
$date3: #3B7ABA;
$date4: #3BABBA;

//shadow
$shadow: 0 0 9px rgba(0, 0, 0, 0.01);